#apresentacao{
    background-color: #000000;
    height:auto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-friday{
    height:auto;
    width:33%;
    transition: 0.5s;
}
.black-friday:hover{
    width:35%;
}

@media  (mad-width:300px){

    #apresentacao{
        height:10%;
        width:100%;
    }

    .black-friday{
        height:100%;
        width:auto;
    }
}