#depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}
.depoimentos_header{
    display: flex;
    justify-content: center;
    width:100%;
}
.depoimentos_block1{
    height:150px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}
.depoimentos_block2{
    height:150px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    flex-direction:row-reverse;
}
.imagem_depoente{
    width:100px;
    height:150px;
}
.avaliacao_comentario{
    height:150px;
    width:80%;
}
.icone-esquerda{
    margin-left:40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.icone-direita{
    margin-right:40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.avaliacao_comentario span img{
    height: 40px;
    width: 40px;
}

@media (max-width:700px){
    .imagem_depoente{
        width:100px;
        height:150px;
    }
    .avaliacao_comentario{
        height:auto;
        width:100%;
    }
    .depoimentos_block1{
        height:auto;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .depoimentos_block2{
        height:auto;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .icone-direita{
        margin-right: 0;
        justify-content: center;
    }
    .icone-esquerda{
        margin-left: 0;
        justify-content: center;
    }
}