#descricao{
    display: flex;
    flex-direction: column;
    width:100%;
    font-weight: 800;
}

#descricao div{
    width:100%;
    height:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.descricao_text1{
    background-image: linear-gradient(#000000, #2b2b2b);
    color:#ffffff;
    transition:0.5s;
}
.descricao_text2{
    background-image: linear-gradient(#2b2b2b, #555555);
    color:#ffffff;
    transition:0.5s;
}
.descricao_text3{
    background-image: linear-gradient(#555555, #808080);
    color:#ffffff;
    transition:0.5s;
}
.descricao_text4{
    background-image: linear-gradient(#808080, #aaaaaa);
    color:#000000;
    transition:0.5s;
}
.descricao_text5{
    background-image: linear-gradient(#aaaaaa, #d5d5d5);
    color:#000000;
    transition:0.5s;
}
.descricao_text6{
    background-image: linear-gradient(#d5d5d5, #ffffff);    
    color:#000000;
    transition:0.5s;
}

#descricao div:hover{
    height:300px;
}


