#email {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/background/fundo_email.gif);
    margin:10px 0;
}

#email_text_background{
    background-color: #000000;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding:0 1%;
    height:100%;
}
#email_text_background div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:426px){
    #email_text_background{
        padding-bottom: 5%;
        padding-top: 5%;
        margin-bottom: 4%;
        margin-top: 1.5%;
        margin-left:5%;
    }
    #user_name{
        margin-bottom:1%;
    }
    #email{
        background-image: none;
    }
}

#email input{
    border-radius: 10px;
}

#email button{
    border-radius: 10px;
}